.partners {
    margin-bottom: 65px;
    @media (max-width: 990px) {
        margin-bottom: 60px;
    }
    .partners_title {
        color: #000;
        text-align: center;
        margin-bottom: 20px;
        font: 700 1.875rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.2rem 'Inter', sans-serif;
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
    .swiper-button-next {
        opacity: 1;
        right: -22px;
        top: 13px;
        opacity: 1!important;
        pointer-events: auto!important;
    }
    .swiper-button-prev {
        opacity: 1;
        left: -22px;
        pointer-events: auto!important;
        opacity: 1!important;
        top: 13px;
    }
    .swiper-button-next {
        position: relative;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #0032A0;
        border-radius: 10px;
        transition: .2s;
        @media (max-width: 990px) {
            display: none;
        }
        &:hover {
            background: #0032A0;
            &::after {
                color: #fff;
            }
        }
    }
    .swiper-button-prev {
        position: relative;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #0032A0;
        border-radius: 10px;
        transition: .2s;
        &:hover {
            background: #0032A0;
            &::after {
                color: #fff;
            }
        }
        @media (max-width: 990px) {
            display: none;
        }
    }
    .swiper-button-next:after {
        color: #0032A0;
        font-weight: bold;
        font-size: 20px;
    }
    .swiper-button-prev:after {
        color: #0032A0;
        font-weight: bold;
        font-size: 20px;
    }
    .partners_wrap {
        background: #F6F6F6;
        border-radius: 40px;
        padding: 40px 60px;
        display: flex;
        box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media (max-width: 990px) {
            padding: 30px 15px;
            border-radius: 0;
        }
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin: 0 auto;
                object-fit: cover;
                padding: 0 10px;
                min-width: 80px;
                @media (max-width: 990px) {
                    height: 40px;
                }
            }
        }
        .swiper-pagination-bullet {
            margin: 0 4px;
            opacity: 1;
            height: 5px;
            width: 16px!important;
            border-radius: 100px;
            border: 1px solid #0032A0;
            background: transparent;
        }
        .swiper-pagination-bullet-active {
            width: 33px!important;
            background: #0032A0;
        }
        .swiper-pagination {
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}